{% extends "portfolio_app/layout.html" %}
{% load static %}

<div class="container">
{% block body %}
    {% comment %} functionality only if user is logged in {% endcomment %}
    <h3 class="mb-3">Update {{ project.title }}</h3>

        <form class="form-control" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-control">
                {{ form.as_p }}
            </div>

            <input type="submit" class="btn btn-success mb-3" value="Save">
        </form>

{% endblock%}
</div>